main {
  margin-top: 100px;
}
.global-intro {
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
}

.global-new {
  text-align: center;
  font-size: 40px;
  h2 {
    color: red;
  }
}

#products {
  max-width: 1200px;
  margin: auto;
  display:flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em; /* Khoảng cách giữa các thẻ */
  max-width: 1200px;
  margin: 0 auto; /* Căn giữa container */
}

.card {
  background-color: #ffffff;  
  max-width: 18em;
  margin: 1em;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  transition: transform 0.3s;
  display: inline-block;
}

.card:hover{
  transform: scale(1.05);
}

.img-container{
  text-align: center;
}

img{
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container{
  padding-top: 1em;
  color: #110f29;
}

.container h4{
  font-weight: 500;
}
